nav.login {
    width: 100%;
    text-align: right;
    border-bottom: $border-color solid 2px;
    padding: 10px 5px;
    margin-bottom: 20px;
    border-bottom-left-radius: 30px;
    img {
        margin: 0 -3px;
        float: left;
        width: 46px;
        height: 46px;
    }
    span {
        font-size: 24px;
        line-height: 1em;
        margin-right: 20px;
        vertical-align: middle;
    }
}
