@import "../../mixins";

$login-background: white;
.login-box {
    background: $login-background;
    padding: 20px 20px 60px 20px;
    text-align: center;
    button {
        margin-top: 40px;
    }
    @include breakpoint(tablet) {
        width: 70%;
        border-radius: 500px;
        margin: 100px auto 0 auto;
    }
}