@import "../mixins.scss";

.input-group {
    position: relative;
    width: 100%;
    input {
        width: 100%;
        margin-bottom: 10px;
    }

    @include breakpoint(tablet) {
        input[type="text"] {
            width: 40%;
        }
        input[type="submit"] {
            width: auto;
            margin-left: 20px;
        }
    }
}
