@import "../variables";
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: $background-color;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 40px 20px 20px 20px;
    border: 1px solid $border-color;
    width: 80%; /* Could be more or less, depending on screen size */
    &.full-screen-image img {        
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

/* The Close Button */
.close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: $text-color;
    font-size: 28px;
    padding: 10px 20px;
    z-index: 3;
    font-weight: bold;
    line-height: 1em;
}

.close:hover,
.close:focus {
    color: lighten($text-color, 20);
    text-decoration: none;
    cursor: pointer;
}
