@import "../../variables";
@import "../../mixins.scss";

$thumb-background: white;
$thumb-border-color: $border-color;
$thumb-width: 400px;
$thumb-type-background: darken($background-color, 25);
$thumb-type-color: $common-control-color;

.result-type-header {
    h3 {
        border-top: $border-color 2px solid;
        margin-bottom: 10px;
    }
    @include breakpoint(tablet) {
        position: relative;
        span {
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}
.result-list {
    margin: 0 -4px;
    figure {
        background-color: $thumb-background;
        border: $background-color 4px solid;
        padding: 10px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        box-sizing: border-box;
        .thumb-title {
            font-weight: bold;
        }
        .thumb-type {
            color: $thumb-type-color;
            background: $thumb-type-background;
            text-align: right;
            margin: -10px -10px 0 -10px;
            padding: 5px 10px;
        }
        img {
            cursor: pointer;
            max-width: 64px;
            max-height: 63px;
        }
        @include breakpoint(tablet) {
            width: 50%;
        }
        @include breakpoint(desktop) {
            width: 25%;
        }
    }
}
