@import "../../variables";

$button-filter-color: $common-control-color;
$button-filter-background: $common-control-background;
$button-filter-active-background: darken($background-color, 25);

.type-filter {
    width: 100%;
    a {
        display: inline-block;
        width: 25%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border: lighten($button-filter-background, 5) solid 2px;
        background-color: $button-filter-background;
        color: $button-filter-color;
        cursor: pointer;
        margin: 16px 0;
        &:hover {
            background-color: lighten($button-filter-background, 5);
        }
        &.active {
            background-color: $button-filter-active-background;
            &:hover {
                background-color: lighten($button-filter-active-background, 5);
            }
        }
    }
    @include breakpoint(desktop) {
        width: 50%;
    }
}
//only for demo purpose
.type-filter-hint {
    font-weight: bold;
    font-size: 12px;
}
