$background-color: lightblue;
$border-color: darken($background-color, 20);
$common-border-radius: 20px;
$text-color: darkblue;
$common-control-background: darken($background-color, 40);
$common-control-color: white;
