@import "variables";
@import "mixins";

body {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,  sans-serif;
    background: $background-color;
    color: $text-color;
    font-size: 16px;
    margin: 0px;
}

.page-content {
    padding: 10px;
    @include breakpoint(tablet) {
        padding: 20px 0 0 0;
        width: 80%;
        margin: 0 auto;
    }
}

p {
    margin: 0 0 8px 0;
}

button, input[type=submit] {
    background: $common-control-background;
    color: $common-control-color;
    border: $border-color solid 1px;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 11px 32px 9px;
    text-transform: uppercase;
}

input {
    font-size: 18px;
    padding: 8px 14px;
    border: none;
    box-sizing: border-box;
}

.errorText {
    color: red;
}
